* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	overflow-x: hidden;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

header {
	background-color: #0f0f0f;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

header img {
	height: 100%;
}

#notification {
	display: none; /* Ocultar por defecto */
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	font-size: 1.5em;
	width: 80%;
	text-align: center;
}

main {
	margin-top: 100px;
}

h1 {
	color: rgb(83, 76, 76);
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h2 {
	color: rgb(83, 76, 76);
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	color: rgb(83, 76, 76);
	font-size: 1.1em;
	text-align: center;
}

.description {
	margin-top: 15px;
	text-align: justify;
	margin-left: 30%;
	margin-right: 30%;
}

#form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #0f0f0f;
	color: aliceblue;
}

#form input {
	width: 20%;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

#form button {
	width: 5.5%;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 5px;
	background-color: #a67030;
	color: white;
}

#form button:hover {
	background-color: #683514;
}

#container-table {
	display: none;
}

#characterTable {
	margin: 0 auto;
	width: 80%;
	margin-top: 40px;
	text-align: center;
}

thead {
	background-color: #866d4e;
	color: white;
}
#characterTable th,
#characterTable td {
	padding: 10px;
	border: 1px solid #ddd;
}

#characterTable img {
	width: 200px;
	height: 250px;
}

footer {
	background-color: #0f0f0f;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
	color: white;
	text-align: center;
	padding-top: 20px;
}

footer img {
	height: 50px;
}

footer p {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

#printButton {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #a67030;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

#printButton:hover {
	background-color: #683514;
}

/* Responsive */
@media screen and (max-width: 768px) {
	header {
		height: 80px;
	}

	header h2 {
		font-size: 1.5em;
	}

	main {
		margin-top: 80px;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1.2em;
	}

	#form {
		height: 150px;
	}

	#form input {
		width: 90%;
	}

	#form button {
		width: 90%;
	}

	#characterTable {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	header {
		height: 60px;
	}

	header h2 {
		display: none;
	}
	header img {
		text-align: center;
	}

	main {
		margin-top: 60px;
	}

	h1 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}

	#form {
		height: 120px;
	}

	#form input {
		width: 95%;
	}

	#form button {
		width: 95%;
	}

	#characterTable {
		width: 95%;
	}
	.footer-text {
		font-size: 0.8em;
	}
}
