* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	overflow-x: hidden;

	
}
header {
	background-color: #0f0f0f;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

header h2{
	color: white;
	font-size: 2em;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header img {
	height: 100%;

}
#notification {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(13, 185, 79);
	font-size: 1.5em;
	
	
}

main{
	margin-top: 100px;


}

h1 {
	color: rgb(83, 76, 76);
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	text-align: center;
}

p{
	color: rgb(83, 76, 76);
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	text-align: center;
}

#form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #0f0f0f;
	color: aliceblue;
}


#form button {
	width: 80%;
	height: 30px;
	margin: 10px;	
}

#form input {
	width: 80%;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

#form button {
	width: 80%;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 5px;
	background-color: #a67030;
	color: white;
}

#form button:hover {
	background-color: #683514;
	color: white;
}
#characterTable {
	display: none;
}
#characterTable {
	margin: 0 auto;
	width: 80%;
	margin-top: 40px;
}

#characterTable {
	display: none;
}
thead{
	background-color: #866d4e;
	color: white;
}
#characterTable th, #characterTable td {
	padding: 10px;
	border: 1px solid #ddd;
}

#characterTable tr:hover {
	background-color: #f5f5f5;
}
#characterTable img {
	width: 200px;
	height: 250px;
    
}
footer{
	background-color: #0f0f0f;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	color: white;
	text-align: center;
	padding-top: 20px;
}
footer img{
	height: 50px;
}
footer p{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

/* Responsive */
@media screen and (max-width: 768px) {
	header {
		height: 80px;
	}

	header h2 {
		font-size: 1.5em;
	}

	main {
		margin-top: 80px;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1.2em;
	}

	#form {
		height: 150px;
	}

	#form input {
		width: 90%;
	}

	#form button {
		width: 90%;
	}

	#characterTable {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	header {
		height: 60px;
	}

	header h2 {
		display: none;
	}
	header img {
	    text-align: center;
	}

	main {
		margin-top: 60px;
	}

	h1 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}

	#form {
		height: 120px;
	}

	#form input {
		width: 95%;
	}

	#form button {
		width: 95%;
	}

	#characterTable {
		width: 95%;
	}
	.footer-text {
		font-size: 0.8em;
	}
	    
}
	
